<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg" xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        "
       default-autowire="byType" default-init-method="init">
    <context:component-scan base-package="com.demo.job"/>

    <!--配置作业注册中心 -->
    <reg:zookeeper id="regCenter" server-lists="192.168.1.4:2128" namespace="demo_job"
                   base-sleep-time-milliseconds="1000"
                   max-sleep-time-milliseconds="3000" max-retries="3"/>

    <job:simple id="springSimpleJob" class="com.demo.job.SpringSimpleJob" registry-center-ref="regCenter"
                sharding-total-count="3" cron="0/5 * * * * ?"
                sharding-item-parameters="0=Beijing,1=Shanghai,2=Guangzhou" monitor-execution="true"
                failover="true" overwrite="true"/>
    <job:dataflow id="springDataflowJob" class="com.demo.job.SpringDataflowJob" registry-center-ref="regCenter"
                  sharding-total-count="3" cron="0/5 * * * * ?"
                  sharding-item-parameters="0=Beijing,1=Shanghai,2=Guangzhou"
                  monitor-execution="true" failover="true" overwrite="true"/>
</beans>